<%= link_to('Upload a Video!', {:controller => "videos", :action => "new"}) %>
<% content_for :header do %>
  <%= javascript_include_tag '/panda_uploader/swfobject' %>
<% end %>

<table class="table table-striped">
<% @videos.zip(@encodings).each do |vid,enc| %>

<tr>
<td><%= vid.title %></td>
<td>
	<video id="movie" preload="none" 
	    poster="<%= enc.screenshots.first %>" controls>
	    <source src="<%= enc.url %>" type="video/mp4">
	</video>
	
</td>

</tr>
<% end %>
</table>
