<%= link_to('Upload a Video!', {:controller => "videos", :action => "new"}) %>
<% content_for :header do %>
  <%= javascript_include_tag '/panda_uploader/swfobject' %>
<% end %>

<table class="table table-striped">
<% @lvideos.each do |vid| %>
<% encodings = Panda::Encoding.video(vid.panda_video_id) %>
<% encoding = encodings.first %>

<tr>
<td><%= vid.title %></td>

<td>
	<video id="movie" preload="none" 
	    poster="<%= encoding.screenshots.first %>" controls>
	    <source src="<%= encoding.url %>" type="video/mp4">
	</video>
	
</td>

</tr>
<% end %>
</table>
